@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url('public/fonts/Inter-VariableFont_slnt,wght.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('public/fonts/SourceSansPro-Regular.ttf');
  font-weight: 400, normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('public/fonts/SourceSansPro-Italic.ttf');
  font-weight: 400, normal;
  font-style: italic;
}
  
@font-face {
  font-family: "SourceSansPro";
  src: url('public/fonts/SourceSansPro-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('public/fonts/SourceSansPro-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: "SourceSansPro";
  src: url('public/fonts/SourceSansPro-ExtraLight.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('public/fonts/SourceSansPro-Bold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('public/fonts/SourceSansPro-SemiBold.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('public/fonts/SourceSansPro-Black.ttf');
  font-weight: 700;
  font-style: normal;
}

:root {
  --nextra-primary-hue: #824EF2;
}

.dark {
  --nextra-primary-hue: 16deg;
}

html {
  font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1, "ss06" 1 !important;
}

[data-reach-skip-link] {
  @apply sr-only;
}

[data-reach-skip-link]:focus {
  @apply not-sr-only fixed ml-6 top-0 bg-white text-lg px-6 py-2 mt-2 outline-none focus:ring z-50;
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}

body {
  background: white;
  color: #111439;
  font-family: 'Inter', 'SourceSansPro', sans-serif;
}

.dark body {
 
  color: #fff !important;
}

.nextra-container .nextra-sidebar ul button, .nextra-container .nextra-sidebar ul li a, .nextra-container .nextra-sidebar ul summary{
  font-weight: 700;
  color: #2D3748;
}

nav > div.flex.items-center.mr-2.flex-auto{
	flex: unset !important;
}

nav > div.flex-1{
	flex: unset !important;
}

nav .gap-2{
  gap: 2rem;
}
article pre{
  background-color: #F7FAFC;
}

article h2{
  border-width: 0px;
}

.bg-orange-50{
  background-color: #FAF5FF;
  border-color: #FAF5FF;
  color: #718096;
  font-weight: 600;
}

.text-primary-500{
    color: #824EF2;
}

.nextra-container .nextra-sidebar ul li.active>a, .nextra-container .nextra-sidebar ul li.active>a:hover{
  background-color: transparent;
  color: #824EF2;
}

div.nextra-nav-container.z-20.sticky.bg-transparent.w-full.top-0 > nav > div.flex.items-center.mr-2.flex-auto > a{
    pointer-events: none;
}

.nextra-container .nextra-sidebar{
 height: 100%;
    /* border: 2px red solid; */
    margin-top: 0px;
    box-shadow: 0px 0px 25px -5px rgb(0 0 0 / 10%), 0px 0px 10px -5px rgb(0 0 0 / 4%) !important;
    padding: 10px 0;
    }

    .nextra-container .nextra-scrollbar{
      padding-right: 8px;
    }

.nextra-toc-meta {
  display: none;
}


.nextra-search{
  position:  absolute;
  right: 20px;
  top: 13px;
}

.nextra-container .nextra-nav-container .nextra-nav-link{
  color: #2D3748;
  font-weight: 600;
}

nav .text-current{
  color: #824EF2 !important;
}

.text-current.p-2 svg{
  display: none;
}

