@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url('public/fonts/Inter-VariableFont_slnt,wght.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('public/fonts/SourceSansPro-Regular.ttf');
  font-weight: 400, normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('public/fonts/SourceSansPro-Italic.ttf');
  font-weight: 400, normal;
  font-style: italic;
}
  
@font-face {
  font-family: "SourceSansPro";
  src: url('public/fonts/SourceSansPro-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('public/fonts/SourceSansPro-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: "SourceSansPro";
  src: url('public/fonts/SourceSansPro-ExtraLight.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('public/fonts/SourceSansPro-Bold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('public/fonts/SourceSansPro-SemiBold.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('public/fonts/SourceSansPro-Black.ttf');
  font-weight: 700;
  font-style: normal;
}

:root {
  --nextra-primary-hue: #824EF2;
}

.dark {
  --nextra-primary-hue: 16deg;
}

html {
  font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1, "ss06" 1 !important;
}

[data-reach-skip-link] {
  @apply sr-only;
}

[data-reach-skip-link]:focus {
  @apply not-sr-only fixed ml-6 top-0 bg-white text-lg px-6 py-2 mt-2 outline-none focus:ring z-50;
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}

body {
  background: white;
  color: #2D3748;
  font-family: 'Inter', 'SourceSansPro', sans-serif;
}


@media (min-width: 768px){
    .nextra-menu-icon{
        display: none;
    }

    nav > div.flex.items-center.mr-2.flex-auto{
      flex: unset !important;
    }

    nav > div.flex-1{
      flex: unset !important;
    }

}

.dark body {
 
  color: #fff !important;
}

.nextra-container .nextra-sidebar ul button, .nextra-container .nextra-sidebar ul li a, .nextra-container .nextra-sidebar ul summary{
  font-weight: 700;
  color: #2D3748;
}


nav .gap-2{
  gap: 2rem;
}
article pre{
  background-color: #F7FAFC;
}

article h2{
  border-width: 0px;
}

article a:hover, .nextra-nav-container a:hover{
  color: #6536ec !important;
}

.bg-orange-50{
  background-color: #FAF5FF;
  border-color: #FAF5FF;
  color: #718096;
  font-weight: 600;
}

.text-primary-500{
  position: relative;
}

.nextra-toc-content ul{
  text-align: right;
}

.nextra-toc-content ul p{
  margin-bottom: 10px;
  font-weight: 600;
}
.nextra-toc-content ul li a{
  padding-right: 20px;
  color: #4A5568;
  font-weight: 300;
}
.scroll-py-6 {
  margin: 0px !important;
  }

.scroll-py-6 a{
  position: relative;
  margin: 0px !important;
  width: 100%;
  line-height: 26px;
}

.scroll-py-6 a::after{
  border-radius: 1px;
  content: '';
  height: 26px;
  width: 2px;
  position: absolute;
  right: 0px;
  background-color: #E2E8F0;
}

.text-primary-500::after{
  transition: .2s;
  background-color: #824EF2 !important;
}

.nextra-container .nextra-sidebar ul li.active>a, .nextra-container .nextra-sidebar ul li.active>a:hover{
  background-color: transparent;
  color: #824EF2;
}

div.nextra-nav-container.z-20.sticky.bg-transparent.w-full.top-0 > nav > div.flex.items-center.mr-2.flex-auto > a{
  pointer-events: none;
}

.nextra-container .nextra-sidebar{
  height: 100%;
  margin-top: 0px;
  box-shadow: 0px 0px 25px -5px rgb(0 0 0 / 10%), 0px 0px 10px -5px rgb(0 0 0 / 4%) !important;
  padding: 10px 0;
}

.nextra-container .nextra-scrollbar{
  padding-right: 8px;
}

.nextra-toc-meta {
  display: none;
}


nav .nextra-search{
  position:  absolute;
  right: 20px;
  top: 13px;
}

.nextra-sidebar-search{
  display: none;
}

.nextra-container .nextra-nav-container .nextra-nav-link{
  color: #2D3748;
  font-weight: 600;
}

nav .text-current{
  color: #824EF2 !important;
}

.text-current.p-2 svg{
  display: none;
}

/*** GetStarted Component Styling */

.GetStarted{
  border: 1px solid #CBD5E0;
  border-radius: 8px;
  padding: 24px;
  margin: 20px 0px;
}

.GetStarted h2, .GetStarted p{
  margin-top: 0px;
}

.GetStarted h2{
  font-size: 24px;
}

.GetStarted p{
  font-size: 14px;
}

.GetStartedWrap{
  margin-top: 15px;
  display: grid;
  grid-template-columns: auto auto;

  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.overviewBlockWrap{
  border: 1px solid #CBD5E0;
  border-radius: 6px;
  padding: 16px;

}

.overviewBlockWrap:hover{
  transition: .2s;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

.overviewBlockWrap a{
  text-decoration-line: none !important;
}

.overviewBlockWrap h3{
  margin-top: 0px;
  color: #4A5568;
  font-size: 16px;
}

.overviewBlockWrap p{
  font-size: 14px;
  margin-top: 7px;
  color: #4A5568;
}


/*** KeyFeat Component Styling */

.KeyFeat{
  border-radius: 8px;
  margin: 20px 0px;
}

.KeyFeat h2, .KeyFeat p{
  margin-top: 0px;
}

.KeyFeat h2{
  font-size: 24px;
}

.KeyFeat p{
  font-size: 14px;
}

.KeyFeatWrap{
  margin-top: 15px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.featBlockWrap{
  border-radius: 6px;
  padding: 16px;
  background: #F7FAFC;
}

.featBlockWrap:nth-of-type(2){
  background: #FAF5FF;
}

.featBlockWrap:nth-of-type(3){
  background: #F0FFF4;;
}

.featBlockWrap:nth-of-type(4){
  background: #EBF8FF;;
}

.KeyFeat h2{
  font-size: 24px;
}

.featBlockWrap{
  padding: 20px;
}
.featBlock h3{
  font-size: 16px;
  margin-top: 0;
}

.featBlockWrap a{
  font-size: 14px;
  font-weight: 600 !important;
  text-decoration-line: none !important;
  color:  #824EF2 ;
}

.featBlockWrap p{
  line-height: 22px;
  font-size: 14px;
  margin-bottom: 7px;
  margin-top: 7px;
}

/*** ThreeCol Component Styling */

.ThreeCol{
  border-radius: 8px;
  padding: 0px;
  margin: 20px 0px;
}

.ThreeCol h2, .ThreeCol p{
  margin-top: 0px;
}

.ThreeCol h2{
  font-size: 24px;
}

.ThreeCol p{
  font-size: 14px;
}

.ThreeColWrap{
  margin-top: 15px;
  display: grid;
  grid-template-columns: auto auto  auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.blockWrap{
  border: 1px solid #CBD5E0;
  border-radius: 6px;
  padding: 16px;
}

.blockWrap:hover{
  transition: .2s;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

.blockWrap a{
  text-decoration-line: none !important;
}

.blockWrap h3{
  margin-top: 0px;
  color: #4A5568;
  font-size: 16px;
}

.blockWrap p{
  line-height: 22px;
  font-size: 14px;
  margin-top: 7px;
  color: #4A5568;
}


/*** footer ***/
footer{
  border-top: 1px solid #E2E8F0;
}

footer.bg-gray-100{
  background: white !important;
  width: 100%;
  height: 100%;
}

footer > div.py-12 > div{
  display: block;
}


.footerwrap{
 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
      row-gap: 30px;

    justify-content: center;
}


.logos{
  height: 38px;
}

.socials{
  display: flex;
  flex-wrap: wrap-reverse;
  row-gap: 20px;
  justify-content: center;
}

.icons{
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.hs-form{
  display: flex;
}

.icons a img{
  height: 20px;
  width: 20px;
}

.icons a:hover img{
  opacity: .75;
}


.hs_submit{
  background-color: #111439;
  color: white;
  padding: 10px 27px;
  border-radius: 0px 5px 5px 0px;
  font-weight: 600;
font-size: 14px;
}

.hs_submit:hover{
  background-color: #33396e;
  cursor: pointer;
}

.hs_email{
  border-width: 1px 0px 1px 1px;
border-style: solid;
border-color: #CBD5E0;
  padding: 10px 27px;
  border-radius: 5px 0px 0px 5px;
    font-weight: 600;
font-size: 14px;
position: relative;
}

.hs-error-msg{
  position: absolute;
    bottom: -30px;
    font-size: 12px;
    width: 200px;
    left: 0;
}

.privacyPolicy{
  text-align: center;
  margin-top: 40px;
}

.privacyPolicy a{
  font-weight: 500;
font-size: 14px;
margin-left: 10px;
text-decoration: none;
color: #2D3748;
}


@media (min-width: 568px){
  .footerwrap{
    justify-content: space-between;
  }

  .socials{
    justify-content: space-between;
  }

  .privacyPolicy{
     text-align: right;
  }

  .icons{
    margin-right: 20px;
  }
}
